<body>
    <div>

        <div>
            <p>
                Computer shop
            </p>
            <ul>
                <li><a href="https://github.com/cciva/wm-products">github source</a></li>
            </ul>
        </div>

    </div>
</body>

