@{
    ViewBag.Title = "Shop";
}

<div class="jumbotron">
    <h1>Welcome to the computer shop!</h1>
</div>

<div class="row">
    @*<div class="col-md-4">
        <p><a href="@Url.Action("Browse", "Products")" class="btn btn-default"><span>All products</span></a></p>
    </div>*@
</div>